.cart-page {
    background-color   : #ffffff;
    // padding         : 30px;

    .container {
        background-color: white;
        padding         : 30px 40px;
        width           : 100%;

        label {
            font-size     : 15px;
            text-transform: uppercase;
            font-weight   : 400;
            font-style    : normal;
            color         : #000;
            margin-bottom : 45px;
        }


        .title-cart {
            font-size     : 25px;
            text-transform: uppercase;
            font-weight   : 400;
            font-style    : normal;
            font-weight   : 500;
            margin-bottom: 20px;
        }

        .order {

            .left {

                /* phần info */
                .content-left {
                    display: flex;
                    gap    : 15px;

                    .item-left {

                        .cart-image {
                            width : 120px;
                            height: auto;

                        }
                    }

                    .item-right {
                        .name {
                            font-weight: 600;
                        }

                        .name-variant {
                            font-weight     : 500;
                            font-size       : 13px;
                            color           : #ffffff;
                            /* border       : 1px solid #a5d651; */
                            background-color: #a5d651;
                            padding         : 1px 8px;
                            border-radius   : 10px;
                        }
                    }


                }

                /* phần giá và mount */
                .content-right {
                    display        : flex;
                    justify-content: space-evenly;

                    .item-amount {
                        padding-bottom: 100px;
                        display       : flex;
                        width         : 40%;



                        .btn-amount {
                            font-family     : inherit;
                            font-size       : inherit;
                            line-height     : inherit;
                            border          : 1px solid #d1d1d1;
                            margin          : 0px 10px;
                            font-size       : 18px;
                            padding         : 0px 14px;
                            background-color: #f5f6f9;

                        }

                        .amount-number {
                            margin          : 0;
                            font-family     : inherit;
                            font-size       : inherit;
                            line-height     : inherit;
                            /* margin       : 0px 0px; */
                            font-size       : 16px;
                            padding         : 10px 16px;
                            background-color: #a5d651;
                            color           : white;
                        }
                    }

                    .item-price {
                        width: 28%;

                        .price {
                            color          : #828282;
                            font-size      : 13px;
                            text-decoration: line-through;

                        }

                        .sale_price {
                            font-size  : 18px;
                            font-weight: 600;
                        }



                    }

                    .tong-price {
                        font-size  : 18px;
                        font-weight: 600;
                        margin-top : 19px;
                        color      : #820813;
                        width      : 20%;


                    }
                }

            }

            /* phần tạm tính */
            .right {
                display: grid;
                justify-items  : start;
                justify-content: space-evenly;
                margin-left    : 11px;
                border-left    : 1px solid #666666;

                .text-tam-tinh {
                    font-size     : 15px;
                    text-transform: uppercase;
                    font-weight   : 400;
                    font-style    : normal;
                    color         : #000;
                }

                .tam-tinh {
                    font-size     : 16px;
                    text-transform: uppercase;
                    font-weight   : 400;
                    font-style    : normal;
                    font-weight   : 500;
                }
            }
        }
    }
}