.manager-user{
    background-color: whitesmoke;
    color: #616161;
    padding-top: 74px;
    padding-left: 201px;

    .user-Container{
        flex: 6;
        margin-bottom: 20px;
        .user{
            padding: 10px;
            .top{
                // padding: 20px;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow        : 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                border-radius     : 10px;
                background-color: rgb(255, 255, 255);

                justify-content: space-between;
                align-items: center;

                .border-custem {}
            
            }
    
            .bottom{
                padding: 10px;
    
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow        : 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                border-radius     : 10px;
                background-color: rgb(255, 255, 255);
            
            }
        }

    }
    .small-button{
        margin-bottom: 5px;
        height: 10px;
        width: 20px;
        font-size: 14px;
        font-weight: 500;
    }
    
}