
.react-select__placeholder {
    color: gray !important;
}

.custombg{
    background-color: #dfffd2!important;

    th{
        font-size: 15px;
    }

}

.btn-custom{
    border: 2px solid #ffffff;
    background-color: #85d400;
    color: rgb(255 255 255);
    border-radius: 4px;
    margin-left: 3px;
    /* padding: 2px 8px; */
}